body
{
    color: #FFF;
    font-family: Helvetica;
    background-color: #2E2E2E;
}
header
{
    font-size: 20px;
    width: 1440px;
    height: 80px;
    background-color: #3C3C3C;
    position: relative;
    bottom: 10px;
    right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
}
header img
{
    width: 220px;
    height: 60px;
}
header ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    width: 1000px;
    margin-left: -6%;
    margin-top: 24px;
}
header ul li
{
    margin-left: 60px;
}
.main_r
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    height: 285px;
    margin-top: 40px;
}
.el_link
{
    background-color: #FFF;
    border-radius: 10px;
    color: #2E2E2E;
    width: 28%;    

}
main a
{
    text-decoration: none;
    transition: 0.5s;
}
main a:hover
{
    transform: scale(1.1);
}
.el_link>div
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.el_link h3,p
{
    margin: auto;
    text-align: center;
}
.el_link img
{
    width: 60%;
    height: 60%;
    margin: auto;
    border-radius: 80%;
}
/* main img
{
    width: 20%;
    height: 20%;
    margin: auto;
    border-radius: 10px 10px 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 12px;
} */
.el_link h3
{
    margin-bottom: 5px;
}
.el_link p
{
    margin-bottom: 15px;
    font-size: 15px;
}
main
{
    padding-top: -1%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
header a
{
    text-decoration: none;
    color: #FFF;
    transition: 0.3s;
}
.current 
{
    border-bottom: 1.5px #8E8E8E solid;
}
header a:hover
{
    color: #FDDE9F;
}
.dop_link
{
    background-color: #3C3C3C;
    border-radius: 10px;
    color: #FFF;
    width: 28%;  
    height: 100%;
}
.dop_link h3,p
{
    margin: auto;
    text-align: center;
}
.recipe img
{
    height: 40%;
    width: 50%;
    border-radius: 0 20px 20px 0;
    margin-top: 0px;
}
.recipe_h
{
    font-size: 46px;
    margin-left: 130px;
    margin-top: 60px;
}
.recipe p
{
    text-align: left;
    margin-left: 20px;
    line-height: 150%;
}
.recipe
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
main ol
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 3%;
    margin-top: 30px;
}
main ol li
{
    margin-bottom: 30px;
}
